<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Centro de Mando Integrado</title>
</head>
<body>
<h1>Centro de Mando Integrado</h1>
<a href="/">Atras</a>
<h2>Ejercicio 5: Regresion Linear</h2>

<div>
    <h3>Utilizando Regresion Lineal podemos predecir si un dispositivo es peligroso o no.</h3>
    <p>Numero de dispositivos NO peligrosos: {{num_no}}</p>
    <p>Numero de dispositivos SI peligrosos: {{num_si}}</p>

    {% if graphJSON %}
    <div id='chart' class='chart'></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      var graphs = {{graphJSON | safe}};
      Plotly.plot('chart',graphs,{});

    </script>
    {% endif %}

</div>

</body>
</html>