<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Centro de Mando Integrado</title>
</head>
<body>
<h1>Centro de Mando Integrado</h1>
<a href="/">Atras</a>
<h2>Ejercicio 5: Arbol de Decision</h2>

<div>
    <h3>Utilizando un Arbol de Decision podemos predecir si un dispositivo es peligroso o no.</h3>
    <p>Numero de dispositivos NO peligrosos: {{num_no}}</p>
    <p>Numero de dispositivos SI peligrosos: {{num_si}}</p>


    {% if graph %}
    <img src="graph.png">
    {% endif %}
    




</div>

</body>
</html>