<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Centro de Mando Integrado</title>
</head>
<body>
    <h1>Centro de Mando Integrado</h1>
    <h2>Elegir el ejercicio que quiere ver</h2>
    <a href="/ejercicio_1">Ejercicio 1</a><br>
    <a href="/ejercicio_2">Ejercicio 2</a><br>
    <a href="/ejercicio_3">Ejercicio 3</a><br><br>
    <form action="/ejercicio_4_api" method="post">
        <label>Ejercicio 4: Github API</label><br>
        <label>Github username:</label><br>
        <input type="text" name="username"><input type="submit">
    </form> <br>
    <a href="/ejercicio_5_regresion_lineal">Ejercicio 5: Regresion Lineal</a><br>
</body>
</html>